<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>MLT Ações Ações</h1>
    </div>

    <form class="d-flex" method="get">
        <input class="form-control me-2" type="text" id="search" name="search" placeholder="Buscar..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    {% if perms.admin %}
        <div class="col-8 m-auto pt-3 pb-2 text-center">
            <a href="/form" class="btn btn-success">Adicionar Ação</a>
        </div>
    {% endif %}

    <div class="col-10 m-auto pt-3 pb-2 text-center">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col-1">ID</th>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data</th>
                <th scope="col">Open</th>
                <th scope="col">Close</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Volume</th>
                <th scope="col">Operações</th>
            </tr>
            </thead>
            <tbody>
            {% for dbs in db %}
            <tr>
                <th>{{ dbs.id }}</th>
                <td>{{ dbs.codigo }}</td>
                <td>{{ dbs.descricao }}</td>
                <td>{{ dbs.data }}</td>
                <td>{{ dbs.open }}</td>
                <td>{{ dbs.close }}</td>
                <td>{{ dbs.high }}</td>
                <td>{{ dbs.low }}</td>
                <td>{{ dbs.volume }}</td>
                <td>
                    <a href="/view/{{dbs.id}}/" class="btn btn-dark">Visualizar</a>
                    {% if perms.admin %}
                        <a href="/edit/{{dbs.id}}/" class="btn btn-primary">Editar</a>
                        <a href="/delete/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
                    {% else %}
                        <a href="#" class="btn btn-success">Adquirir Ação</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!--<div class="pagination">
        {% if db.has_previous %}
            <a href="?page={{db.previous_page_number}}"> < </a>
        {% endif %}

        {{ db.number }}

        {% if db.has_next %}
            <a href="?page={{db.next_page_number}}"> > </a>
        {% endif %}

    </div>-->

    {% load static %}
    <script src="{%static 'javascript.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>